.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
dudders
dudders.8
libtool
scripts/*
stamp-h1
tests/test-crypt-gcrypt
tests/test-crypt-openssl
tests/test-decode64
tests/test-parse_pk
tests/test-sign_query-gcrypt
tests/test-sign_query-openssl
