.deps
.dirstamp
.libs
*.la
*.lo
*.log
*.o
*.trs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
dudders
libtool
m4/libtool.m4
m4/lt*.m4
scripts/*
stamp-h1
tests/test-crypt-gcrypt*
tests/test-crypt-openssl*
tests/test-decode64*
tests/test-parse_pk*
tests/test-sign_query-gcrypt*
tests/test-sign_query-openssl*
