
@media only screen and (min-width: 45em) {
	body {
		width: 40em;
		padding-left: 3em;
	}
	pre {
		font-size: smaller;
	}
}

@media only screen and (max-width: 44.99em) {
	body {
		font-size: 16pt;
		padding-left: 5%; padding-right: 5%;
	}
	li {
		margin: 10px 0;
	}
}

p {
	text-align: justify;
}

pre {
	width: 80en;
	padding: 1em;
	border: 1px solid #ccc;
	overflow: auto;
	white-space: pre-wrap;
}

ins {
	text-decoration: none;
	color: #006400;
}